In [13]:
import numpy as np

In [25]:
s = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

n=[1,2,3,4,5,6,7,8,9]

In [36]:
for i in range(0,9,3):
    for j in range(0,9,3):
        print(s[i:i+3,j:j+3].sum())

45
45
45
45
45
45
45
45
45

In [15]:
adr=np.sum(s,axis=1)
for i in ad:
    if i!=45:
        print("Not sudoku")
        break
print("row sudoku")

row sudoku

In [16]:
adc=np.sum(s,axis=0)
for i in adc:
    if i!=45:
        print("not sudoku")
        break
print("col sudoku")

col sudoku

In [17]:
for i in range(0,9,3):
    for j in range(0,9,3):
        num=s[i:i+3,j:j+3]
        print(num)

[[5 3 4]
 [6 7 2]
 [1 9 8]]
[[6 7 8]
 [1 9 5]
 [3 4 2]]
[[9 1 2]
 [3 4 8]
 [5 6 7]]
[[8 5 9]
 [4 2 6]
 [7 1 3]]
[[7 6 1]
 [8 5 3]
 [9 2 4]]
[[4 2 3]
 [7 9 1]
 [8 5 6]]
[[9 6 1]
 [2 8 7]
 [3 4 5]]
[[5 3 7]
 [4 1 9]
 [2 8 6]]
[[2 8 4]
 [6 3 5]
 [1 7 9]]

In [22]:
for i in num:
    print( num.sum())

45
45
45

In [37]:
import numpy as np

# Columns: [Age, Math Marks, Science Marks]
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [38]:
#Get the shape of the matrix.
data.shape

(5, 3)

In [44]:
#Find the average age of students.
avgc=np.mean(data,axis=1) #col
avgr=np.mean(data,axis=0) #row
avgc,

array([60.33333333, 66.33333333, 62.66666667, 51.        , 65.        ])

In [46]:
#Extract Math marks of all students.
mathMark=data[0: ,1]
mathMark

array([85, 92, 76, 65, 90])

In [ ]:
#Find the highest Science mark.