In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "Category": ["Fruit", "Fruit", "Vegetable", "Vegetable", "Fruit"],
    "Item": ["Apple", "Banana", "Carrot", "Potato", "Mango"],
    "Price": [100, 40, 30, 20, 60],
    "Quantity": [5, 7, 3, 4, 6]
})

print(df)

    Category    Item  Price  Quantity
0      Fruit   Apple    100         5
1      Fruit  Banana     40         7
2  Vegetable  Carrot     30         3
3  Vegetable  Potato     20         4
4      Fruit   Mango     60         6

In [4]:
#Total price for each category
df.groupby("Category")["Price"].sum()

Category
Fruit        200
Vegetable     50
Name: Price, dtype: int64

In [5]:
#Average quantity for each category
df.groupby("Category")["Quantity"].mean()

Category
Fruit        6.0
Vegetable    3.5
Name: Quantity, dtype: float64

In [6]:
#Multiple aggregations at once
df.groupby("Category").agg({
    "Price":["sum","max","min"],
    "Quantity":["sum","mean","median"]
})

          Price          Quantity
            sum  max min      sum mean median
Category
Fruit       200  100  40       18  6.0    6.0
Vegetable    50   30  20        7  3.5    3.5

In [7]:
df["Price"].mode().iloc[3]

np.int64(60)

In [8]:
#for mode opreation
df.groupby("Category")["Price"].apply(lambda x: x.mode().iloc[0])

Category
Fruit        40
Vegetable    20
Name: Price, dtype: int64

In [9]:
#if you want the full list of modes per group
df.groupby("Category")["Price"].apply(lambda x: list(x.mode()))

Category
Fruit        [40, 60, 100]
Vegetable         [20, 30]
Name: Price, dtype: object

In [10]:
df["Quantity"].median()

5.0