In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({
"City":["Delhi","Delhi","Delhi","Mumbai","Mumbai","Mumbai"],
"Product":["Shoes","Shoes","Watch","Shoes","Watch","Watch"],
"Sales":[200,150,300,400,250,300]
})

In [6]:
df.pivot_table(values="Sales", index="City", columns="Product", aggfunc="sum",fill_value=0)

Product  Shoes  Watch
City
Delhi      350    300
Mumbai     400    550